<div class="Heading">
  <h3 tabindex="0" spellcheck="false" data-pf-type="Heading2" class="Title">{{section.settings.main_header}}</h3>
</div>
<div class="section_main">
  <div class="left_one">
    <h3 class="heading">{{section.settings.left_header}}</h3>
    <p class="title">{{section.settings.left_subtitle}}</p>
    <div class="timer">{{section.settings.datepicker}}</div>
  </div>
  <div class="right_one">
    {% assign  colle = section.settings.pr_collection.products %}
    {%for pr in colle%}
    <div class="image_grid">
      <div class="pr_img">
        <img src="{{pr.featured_img | img_url: 'master'}}" alt="">
      </div>
      <div class="pr_title">{{pr.title}}</div>
      <div class="pr_price">{{pr.price | money}}</div>
      <div class="pr_buy_btn">
        <button class="btn buy_now_btn">Buy Now</button>
      </div>
    </div>
    {%endfor%}
  </div>

</div>

{% schema %}
  {
    "name": "Special Offer",
    "settings": [
      {
        "type": "text",
        "id": "main_header",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type":"header",
        "content": "Countdown section"
      },
      {
        "type": "text",
        "id": "left_header",
        "label": "Heading",
        "default": "Main Title"
      },
      {
        "type": "text",
        "id": "left_subtitle",
        "label": "Sub-heading",
        "default": "Sub-Title"
      },
      {
        "type": "text",
        "id": "datepicker",
        "label": "Offer Last Date(dd/mm/yyyy)",
        "default": "01/01/2020"
      },
      {
        "type":"header",
        "content": "Collection section"
      },
      {
        "type": "collection",
        "id": "pr_collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name":"Special Offer"
      } 
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}